<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block content %}
    
<div class="container mt-4">
    
    <div class="p-3 m-3">

        
        <div class="col-lg-5 rounded mx-auto border pt-4">
            <div class="text-center col">
            
                <img
                src= "{% static "/images/about.jpg" %}" alt=""
                class="" style="height: 150px;">
            <!-- <hr> -->
            <hr>
            </div>
            <h3 class="alert alert-success rounded-pill" style="text-align:center; color:white; background-color:blue; border-color: white;">About Us</h3>
            <form action="/contact" method="POST">
                
                {% csrf_token %}
                <div class="about-content">
                    <p>
                    <br>
                        Welcome to Aquasport Water Sales, your number-one store for quality filtered drinking water. 
                    </br></br>
                        We are committed to giving you the best service and quality water. We use an ozone water purification process.</br>
                    </br>
                        Founded in 2015, Water Inn is based in the East Rand and sells large quantities of our branded water called Aquasport all over Gauteng. 
                    </br></br>
                        Our pricing for high-quality water is our competitive advantage. </br>
                        
                        With this online store, we showcase our products, making them accessible to everyone in South Africa.
                    </br></br>
                        If you have any questions or comments, please don't hesitate to contact us.
                </br></br>
                </p>
                </div>  
                <div class="col-md-6 contact-info">
                    <div class="follow"><b><i class="fa fa-map-marker"></i> </b>Water Inn, Water Road, Kempton Park, Gauteng </div>
                    <div class="follow"><b><i class="fa fa-mobile"></i> </b>(+27)82 828 8282</div>
                    <div class="follow"><b><i class="fa fa-envelope"></i> </b>aqausportwater@gmail.com</div>
                    <div class="follow"><label><b>Get Social </b></label>
                        <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.youtube.com/"><i class="fa fa-youtube-play"></i></a>
                        <a href="https://twitter.com/login"><i class="fa fa-twitter"></i></a>
                        <a href="https://myaccount.google.com/"><i class="fa fa-google-plus"></i></a>
                    </div>
                    </div>
                    </div>
                    </div>
                <hr>
            </div>
        </div>
    </div>
{% endblock %}

    
